@charset "utf-8";

$primary: #20394f;
$link: #997577;
$body-background-color: #07131c;
$dark: #07131c;
$info: #816271;
$success: #20394f;
$warning: #4e495f;
$danger: #816271;
$dark: #0f2a3f;
$text: #f6d6bd;
